.app-ct1 {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}
table {
    background-color: #555;
    border-radius: 10px;
    padding: 2rem 2rem 2rem 2rem;
}

th {
    padding-right: 10rem;
}

tfoot td{
    padding-top: 2rem;
}

.btn-2 {
    background-color: chocolate;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}