/* Body */
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    margin: 0;
    background-color: #f7f8f9;
    font-family: "rubik";
    color: black;
}

@font-face {
    font-family: "rubik";
    src: url("../fonts/Rubik-Regular.ttf");
}
@font-face {
    font-family: "archivo";
    src: url("../fonts/ArchivoBlack-Regular.ttf");
}

.logo {
    width: 64px;
}

/* Body */

/* Header/Footer */
header a {
    text-decoration: none;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #0a3782;
}
footer {
    color: white;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    padding: 10px 5px;
    background-color: #0a3782;
    text-align: center;
}
footer div {
    display: flex;
    margin: 0 auto;
    column-gap: 150px;
    text-align: left;
}
ul {
    list-style-type: none;
    padding-left: 0;
}
footer div div {
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    gap: 15px;
}
nav a {
    text-decoration: none;
}
nav a:hover {
    color: #007bff;
}
/* Header/Footer */

/* Begin */
.big-img {
    margin-left: auto;
    width: 50%;
    height: 50%;
}

.ct-1 {
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5rem;
}

.ct-2 {
    margin: 10rem auto;
    display: flex;
    flex-direction: column;
}

.main-btn {
    text-align: center;
    text-decoration: none;

    border: none;
    background-color: #0a3782;
    cursor: pointer;
    border-radius: 10px;
    color: white;
    font-family: "archivo";
    font-weight: bold;
    border: none;
    padding: 10px 0 10px;
}

.main-btn:hover {
    background-color: #23527c;
}

.main-btn:active {
    letter-spacing: 2px;
    transform: translateY(2px);
    transition: 100ms;
}

.hidden {
    display: none;
}

.main-title {
}

.underlined {
    border-bottom: 5px solid;
    border-color: black;
}
/* Begin */

/* Products */
.shadow {
    box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.06);
}

.main-ct {
    display: flex;
    background-color: #f7f8f9;
}

.prods {
    margin: 50px 0 0 100px;
    gap: 50px;
    flex-wrap: wrap;
}
.prod img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}
.prod {
    text-align: center;
    flex-direction: column;
    padding: 25px 25px 25px 25px;
    width: 350px;
}
.prod button {
    margin: 20px 30px 0 30px;
}
/* Products */
