/* Body */
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    margin: 0;
    background-color: #f7f8f9;
    font-family: "rubik";
    color: black;
}

@font-face {
    font-family: "rubik";
    src: url("../fonts/rubik.ttf");
}
@font-face {
    font-family: "archivo";
    src: url("../fonts/archivo.ttf");
}

/* Body */

/* Header/Footer */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #0a3782;
}
header img {
    width: 64px;
}
header a {
    text-decoration: none;
    color: white;
}
footer {
    color: white;
    margin-top: 3rem;
    padding: 10px 5px;
    background-color: #0a3782;
    text-align: center;
    overflow: hidden;
}
footer div {
    display: flex;
    margin: 0 auto;
    column-gap: 150px;
    text-align: left;
}
footer ul {
    list-style-type: none;
    padding-left: 0;
}
footer ul a {
    text-decoration: none;
    color: white;
}
footer div div {
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    gap: 15px;
}
nav a {
    text-decoration: none;
}
nav a:hover {
    color: #007bff;
}
/* Header/Footer */

/* Begin */
.home-ct {
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5rem;
}
.home-ct div h1 {
    font-size: 50px;
}

.home-ct div {
    margin: 10rem auto;
    display: flex;
    flex-direction: column;
}
.home-ct img {
    margin-left: auto;
    width: 50%;
    height: 50%;
}
.home-ct div a {
    width: 75%;
    margin: 0 auto;
}

.main-btn {
    text-align: center;
    text-decoration: none;

    border: none;
    background-color: #0a3782;
    cursor: pointer;
    border-radius: 10px;
    color: white;
    font-family: "archivo";
    font-weight: bold;
    border: none;
    padding: 10px 0 10px;
    transition: 0.25s ease;
}

.main-btn:hover {
    background-color: #23527c;
    letter-spacing: 2px;
    transform: translateY(-3px);
}

.main-btn:active {
    transform: translateY(5px);
}

.hidden {
    display: none;
}

.underlined {
    border-bottom: 5px solid;
    border-color: black;
}
.home-title {
    text-align: center;
    margin: 5rem 0 2rem;
}
/* Begin */

/* Products */
.shadow {
    box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.06);
}

.main-ct {
    display: flex;
    background-color: #f7f8f9;
    gap: 30px;
}
.white {
    background-color: white;
}

.prods {
    margin: 0 auto;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
}
.prod {
    text-align: center;
    flex-direction: column;
    padding: 25px 25px 25px 25px;
    width: 350px;
    transition: 0.25s ease;
    background-color: white;
}
.prod:hover {
    transform: translateY(-10px);
    box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.12);
}
.prod img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}
.prod button {
    margin: 20px 30px 0 30px;
}

.new-prod {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    background-color: white;
    justify-content: center;
}
.contact-form{
    margin: 3rem auto;
    max-width: 75%;
    display: grid;
    grid-gap: 20px;
    background-color: white;
    border-radius: 5px;
    padding: 50px 50px 50px 50px;
}
.contact-form div {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 30px;
}

.contact-form div div{
    width: auto;
    display: flex;
    flex-direction: column;
    min-width: 0;
}
.contact-form input {
    width: auto;
}
input {
    border: 2px solid lightgray;
    margin-top: 1.5rem;
    font-size: 1.2rem;
    font-family: "archivo";
}
textarea {
    border: 2px solid lightgray;
    margin-top: 1.5rem;
    font-size: 1rem;
    font-family: "archivo";
}

.twoline {
    min-height: 2.4em;
    max-height: 2.4em;
    overflow: hidden;
}
/* Products */

@media (max-width: 1300px) {
    .home-ct {
        flex-wrap: wrap-reverse;
    }
    .home-ct img {
        width: 100%;
    }
    .home-ct div {
        margin: 0 auto;
    }
    .home-ct div h1 {
        font-size: 35px;
    }
    .prod img {
        width: 130px;
        height: 130px;
    }
    .prod {
        width: 180px;
    }
    .prods{
        gap: 20px;
    }
    .new-prod {
        width: 90%;
    }
    .new-prod div {
        gap: 15px;
    }
    .contact-form input {
        font-size: 1rem;
    }
    footer div {
        flex-direction: column;
    }
}